<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="my_css.css">
    <style>
        table{
            margin-top:20px;
            margin-bottom:20px;
        }
        .t {
            border: 1px solid #333;
            //margin:20px 40px 20px 40px;
        }
        .t td{
            border: 1px solid #333;
            text-align:left;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>大學生適性化學習系統</h1>
    </div>
    <div class="nav">
        <ul class="flex-nav">
            <li><a href="index.html">首頁</a></li>
            <li><a href="recommend.html">推薦課程</a></li>
            <li><a href="#">其他相關資訊</a>
            <ul>
                <li><a href="job.html">就業</a></li>
                <li><a href="channel.html">碩士班相關</a></li>
                <li><a href="channel2.html">博士班相關</a></li>
                <li><a href="advisory.html">職涯諮詢</a></li>
            </ul>
            </li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="item">
            <ul class="list">
                <li><a href="channel.html">碩士班入學管道</a></li>
                <li><a href="department.html">碩士班科系</a></li>
            </ul>
        </div>
        <div class="items">
            <div class="con">
                <h2>研究所碩士班科系</h2>
                <br>
                <h3>電機工程研究所碩士班</h3>
                系所網站:<a href="https://www.iece.nctu.edu.tw/">https://www.iece.nctu.edu.tw/</a>
                
                <table class="t">
                    <tr>
                        <td>甲組</td>
                        <td>主修數位積體電路設計、類比積體電 路設計、晶片系統設計、微機電系統等</td>
                    </tr>
                    <tr>
                        <td>乙組</td>
                        <td>人工智慧與計算機工程組，主修計 算機工程、嵌入式系統、雲端運算與巨 量資料分析、機器學習、多媒體及語音 訊號處理等</td>
                    </tr>
                </table>
                <h3>電子研究所碩士班</h3>
                系所網站:<a href="https://eenctu.nctu.edu.tw/">https://eenctu.nctu.edu.tw/</a>
                <table class="t">
                    <tr>
                        <td>甲組</td>
                        <td>主修固態物理、奈米電 子、半導體元件、元件物理與模型、積體電路技術、電子材 料、微機電、光電、生醫電子</td>
                    </tr>
                    <tr>
                        <td>乙 A 組</td>
                        <td>主修類比積體電 路、射頻積體電路、微波積體電路、感測與制動積體電 路、生醫積體電路、電源管理積體電路、電力電子等</td>
                    </tr>
                    <tr>
                        <td>乙 B 組</td>
                        <td>主修數位電路、晶 片系統、智慧電子、通訊系統、訊號處理與資料科學、 多媒體、電子設計自動化與測試、生醫電子、綠能電子)</td>
                    </tr>
                </table>
                <h3>電信工程研究所碩士班</h3>
                系所網站:<a href="https://www.cm.nctu.edu.tw/">https://www.cm.nctu.edu.tw/</a>
                <table class="t">
                    <tr>
                        <td>甲組</td>
                        <td>主修通訊系統與科學、無線通 訊、網路工程、多媒體及語音訊號 處理、人工智慧、機器學習、量子 電腦</td>
                    </tr>
                    <tr>
                        <td>乙組</td>
                        <td>主修射頻電路與晶片、天線、 電波傳播、無線傳能、半導體與電 路之模擬與最佳化</td>
                    </tr>
                </table>
                <h3>電控工程研究所碩士班</h3>
                系所網站:<a href="https://www.cn.nctu.edu.tw/">https://www.cn.nctu.edu.tw/</a>
                <table class="t">
                    <tr>
                        <td>甲組</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>乙 A 組</td>
                        <td>主修控制理論、智慧系 統、機器人、機器視覺、電力電 子、電機控制、綠能科技、汽車 自駕、機器學習、嵌入式系統、 生醫感測系統、無人載具等。</td>
                    </tr>
                    <tr>
                        <td>乙 B 組</td>
                        <td>主修訊號與影像處理、汽 車自駕、通訊系統與科學、機器 學習、大數據資料探勘、智慧聯 網、多媒體及語音訊號處理、生 醫工程、生醫訊號與系統等。</td>
                    </tr>
                    <tr>
                        <td>乙 C 組</td>
                        <td>主修數位積體電路、類比 積體電路、晶片系統設計、神經 網路運算加速器設計、微機電與 微感測系統、生醫光電、生醫感 測、生醫電子應用、電力電子、 電源管理、無線傳能等。</td>
                    </tr>
                </table>
                <h3>光電工程學系碩士班</h3>
                系所網站:<a href="https://dop.nctu.edu.tw/ch/index.html">https://dop.nctu.edu.tw/ch/index.html</a>
                <p>本所修業領域包括國際上最先進的光電工程技術、材料、及多元跨領域研究及應用。</p>
                <br>
                <h3>人工智慧技術與應用碩士學位學程</h3>
                系所網站:<a href="https://aigp.ece.nycu.edu.tw/">https://aigp.ece.nycu.edu.tw/</a>
                <p>培養目標包括扎實基礎科學與AI專業知識、掌握跨領域複合知識、具備AI工程化流程和實踐能力。</p>
                <h3>生醫工程研究所碩士班</h3>
                系所網站:<a href="https://bme.nycu.edu.tw/index.aspx?lang=c">https://bme.nycu.edu.tw/index.aspx?lang=c</a>
                <table class="t">
                    <tr>
                        <td>甲組</td>
                        <td>主修生醫資訊</td>
                    </tr>
                    <tr>
                        <td>乙組</td>
                        <td>主修生醫電子與光電</td>
                    </tr>
                    <tr>
                        <td>丙組</td>
                        <td>主修生醫應用</td>
                    </tr>
                </table>
                <h3>國際半導體產業學院碩士班</h3>
                系所網站:<a href="https://icst.nctu.edu.tw/">https://icst.nctu.edu.tw/</a>
                <p>研究著重於「半導體材料」、「固態電子元件」、「高階系統封裝」、「積體電路設計」及「異質系統整合」等半導體領域</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>© 2021 NCTU_IED</p>
    </div>
    
</body>
</html>