<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="my_css.css">
    <style>
        table{
            margin-top:20px;
            margin-bottom:20px;
        }
        .t {
            border: 1px solid #333;
            //margin:20px 40px 20px 40px;
        }
        .t td{
            border: 1px solid #333;
            text-align:left;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>大學生適性化學習系統</h1>
    </div>
    <div class="nav">
        <ul class="flex-nav">
            <li><a href="index.html">首頁</a></li>
            <li><a href="recommend.html">推薦課程</a></li>
            <li><a href="#">其他相關資訊</a>
            <ul>
                <li><a href="job.html">就業</a></li>
                <li><a href="channel.html">碩士班相關</a></li>
                <li><a href="channel2.html">博士班相關</a></li>
                <li><a href="advisory.html">職涯諮詢</a></li>
            </ul>
            </li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="item">
            <ul class="list">
                <li><a href="channel.html">博士班入學管道</a></li>
                <li><a href="department.html">博士班科系</a></li>
            </ul>
        </div>
        <div class="items">
            <div class="con">
                <h2>研究所博士班科系</h2>
                <br>
                <h3>電子研究所博士班</h3>
                系所網站:<a href="https://eenctu.nctu.edu.tw/index.php">https://eenctu.nctu.edu.tw/index.php</a>
                
                <table class="t">
                    <tr>
                        <td>甲組(固態電子組)</td>
                        <td>主修固態物理、奈米電子、半導體元件、元件物理與 模型、積體電路技術、電子材料、微機電、光電、生物電子、生醫元件</td>
                    </tr>
                    <tr>
                        <td>乙組(電路系統組)</td>
                        <td>主修電子電路、IC 設計、晶片系統、數位系統、通訊系統、多媒體、電子設計自動化與測試、生醫 電子、電力電子</td>
                    </tr>
                </table>
                <h3>電控工程研究所博士班</h3>
                系所網站:<a href="https://www.cn.nctu.edu.tw/">https://www.cn.nctu.edu.tw/</a>
                <table class="t">
                    <tr>
                        <td>甲組</td>
                        <td>主修數位積體電路設計、類比積體電路設計、晶片系統 設計、微機電系統等</td>
                    </tr>
                    <tr>
                        <td>乙組</td>
                        <td>主修電子電路、IC 設計、晶片系統、數位系統、通訊系統、多媒體、電子設計自動化與測試、生醫 電子、電力電子</td>
                    </tr>
                    <tr>
                        <td>丙組</td>
                        <td>主修生醫電子、生醫感測、醫療器材、醫學影 像、生醫系統模擬等。</td>
                    </tr>
                </table>
                <h3>電信工程研究所博士班</h3>
                系所網站:<a href="https://www.cm.nctu.edu.tw/">https://www.cm.nctu.edu.tw/</a>
                <table class="t">
                    <tr>
                        <td>甲組</td>
                        <td>主修通訊系統與科學、無線通訊、網路工程、多媒體及語音訊號處理、人工智 慧、機器學習、量子電腦</td>
                    </tr>
                    <tr>
                        <td>乙組</td>
                        <td>主修射頻電路與晶片、天線、電波傳播、無線傳能、半導體與電路之模擬與最佳化。</td>
                    </tr>
                </table>
                <h3>光電工程學系博士班</h3>
                系所網站:<a href="https://dop.nctu.edu.tw/ch/index.html">https://dop.nctu.edu.tw/ch/index.html</a>
                <p>本系修業領域包括國際上最先進的光電工程技術、材料、及多元跨領域研究及應用。</p>
                <br>
                <br>
                <h3>國際半導體產業學院博士班</h3>
                系所網站:<a href="https://icst.nctu.edu.tw/">https://icst.nctu.edu.tw/</a>
                <p>本學院定位為產業導向之國際化學院，以研發下世代 半導體製程技術及半導體晶片設計為發展重點。</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>© 2021 NCTU_IED</p>
    </div>
    
</body>
</html>