<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="my_css.css">
    <style>
        table{
            margin-bottom:20px;
        }
        .t {
            border: 1px solid #333;
            //margin:20px 40px 20px 40px;
        }
        .t td{
            border: 1px solid #333;
            text-align:left;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>大學生適性化學習系統</h1>
    </div>
    <div class="nav">
        <ul class="flex-nav">
            <li><a href="index.html">首頁</a></li>
            <li><a href="student.html">推薦課程</a></li>
            <li><a href="#">就業相關</a>
            <ul>
                <li><a href="job_col.html">職業探索</a></li>
                <li><a href="job_interview.html">面試須知</a></li>
                <li><a href="job_other.html">其他資訊</a></li>
            </ul>
            </li>
            <li><a href="#">升學相關</a>
            <ul>
                <li><a href="graduate.html">學術探索</a></li>
                <li><a href="graduate_channel.html">升學管道</a></li>
            </ul>
            </li>
            <li><a href="advisory.html">職涯諮詢</a></li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="item">
            <ul class="list">
                <li><a href="graduate_channel.html">碩士班升學管道</a></li>
                <li><a href="graduate_channel2.html">博士班升學管道</a></li>
                <li><a href="graduate_channel3.html">國外升學</a></li>
            </ul>
        </div>
        <div class="items">
            <div class="con">     
                <h2>研究所入學管道介紹</h2>
                <br>
                <br>
                <h3>推甄入學</h3>
                <p>推甄入學大約會在11月左右，推甄入學會參考考生在校成績排名，主要評分方式是書面審查以及口試，需要有推薦函、讀書計畫、或是其他有利審查加分資料等。</p>
                <br>
                <br>
                <h3>考試入學</h3>
                <p>考試入學則是以筆試作為成績計算，也同樣需要口試測驗。與推甄最大差異是書面審查給以筆試測驗替代，考試入學不需要準備數面審查資料以及在校成績。</p>
                <br>
                <br>
                <h3>本校研究所甄試入學相關資訊</h3>
                <table class="t">
                    <tr>
                        <td>
                            110學年度
                        </td>
                        <td>
                            <a href="https://exam.nctu.edu.tw/action.aspx?id=a6cedb93-5fc2-45be-9ed3-96230a4968d0">招生公告</a><br>
                            <a href="javascript:__doPostBack('gvYear$ctl02$gvItem$ctl03$_lbtnShowList','')">招生簡章及相關表格</a><br>
                            <a href="https://exam.nctu.edu.tw/action.aspx?id=9e9f5340-7690-4e75-8d5e-dbb0f685bae4">線上上船審查資料說明</a><br>
                            <a href="https://exam.nctu.edu.tw/action.aspx?id=3349e9ad-ac73-4487-9308-7109f7c58c43">統計表</a><br>
                            <a href="javascript:__doPostBack('gvYear$ctl02$gvItem$ctl06$_lbtnShowList','')">榜單查詢</a><br>
                            <a href="javascript:__doPostBack('gvYear$ctl02$gvItem$ctl06$_lbtnShowList','')">報到資訊連結</a><br>
                            <a href="javascript:__doPostBack('gvYear$ctl02$gvItem$ctl06$_lbtnShowList','')">二月入學申請書、放棄申請書、切結書</a>
                        </td>
                    </tr>
                </table>
                <br>
                <br>
                <h3>本校研究所入學考試入學相關資訊</h3>
                <table class="t">
                    <tr>
                        <td>
                            110學年度
                        </td>
                        <td>
                            <a href="https://exam.nctu.edu.tw/action.aspx?id=a6cedb93-5fc2-45be-9ed3-96230a4968d0">招生簡章及相關表格</a><br>
                            <a href="javascript:__doPostBack('gvYear$ctl02$gvItem$ctl03$_lbtnShowList','')">報名人數統計表</a><br>
                            <a href="https://exam.nctu.edu.tw/action.aspx?id=9e9f5340-7690-4e75-8d5e-dbb0f685bae4">110碩士班(含在職專班)複試/報到相關資訊</a><br>
                            <a href="https://exam.nctu.edu.tw/action.aspx?id=3349e9ad-ac73-4487-9308-7109f7c58c43">榜單查詢</a><br>
                            <a href="javascript:__doPostBack('gvYear$ctl02$gvItem$ctl06$_lbtnShowList','')">經管所、資材碩乙組、管科系及工工系成績統計</a><br>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>© 2021 NCTU_IED</p>
    </div>
    
</body>
</html>