<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="my_css.css">
    <style>
        .t {
            border: 1px solid #333;
            margin:10px 0px 10px 0px;
        }
        .t th{
            border: 1px solid #333; 
        }
        .t td{
            border: 1px solid #333;
            //text-align:left;
            
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>大學生適性化學習系統</h1>
    </div>
    <div class="nav">
        <ul class="flex-nav">
            <li><a href="index.html">首頁</a></li>
            <li><a href="recommend.html">推薦課程</a></li>
            <li><a href="#">其他相關資訊</a>
            <ul>
                <li><a href="job.html">就業</a></li>
                <li><a href="channel.html">碩士班相關</a></li>
                <li><a href="channel2.html">博士班相關</a></li>
                <li><a href="advisory.html">職涯諮詢</a></li>
            </ul>
            </li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="item">
            <ul class="list">
                <li><a href="job.html">畢業出路</a></li>
                <li><a href="job2.html">就業博覽會</a></li>
            </ul>
        </div>
        <div class="items">
            <div class="con">      
                <h2 align="left">還沒有想法嗎?去就業博覽會看看吧!</h2>
                <h2 align="left">我們幫你蒐集了</h2>
                <h3>北部</h3>
                <table class="t">
                    <tr>
                        <th>學校</th>
                        <th>舉辦日期</th>
                        <th>網址</th>
                    </tr>
                    <tr>
                        <td width="100px">
                        台灣大學
                        </td>
                        <td width="150px">
                        2021年5月15日
                        </td>
                        <td>
                        <a href="https://career.ntu.edu.tw/student/vision/2021" target="_blank">詳細資訊</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="100px">
                        交通大學
                        </td>
                        <td width="150px">
                        2021年5月22日
                        </td>
                        <td>
                        <a href="https://openhouse.nctu.edu.tw/"target="_blank">詳細資訊</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="100px">
                        清華大學
                        </td>
                        <td width="100px">
                        2021年5月8日
                        </td>
                        <td>
                        <a href="https://careernthu.conf.asia/news.aspx?lang=cht&pid=7151"target="_blank">詳細資訊</a>
                        </td>
                    </tr>
                </table>
                <h3>中部</h3>
                <table class="t">
                    <tr>
                        <th>學校</th>
                        <th>舉辦日期</th>
                        <th>網址</th>
                    </tr>
                    <tr>
                        <td width="100px">
                        中興大學
                        </td>
                        <td width="150px">
                        2021年5月15日
                        </td>
                        <td>
                        <a href="https://career.ntu.edu.tw/student/vision/2021" target="_blank">詳細資訊</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="100px">
                        台中科技大學
                        </td>
                        <td width="150px">
                        2021年5月22日
                        </td>
                        <td>
                        <a href="https://openhouse.nctu.edu.tw/"target="_blank">詳細資訊</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="100px">
                        彰化師範大學
                        </td>
                        <td width="100px">
                        2021年5月8日
                        </td>
                        <td>
                        <a href="https://careernthu.conf.asia/news.aspx?lang=cht&pid=7151"target="_blank">詳細資訊</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="100px">
                        暨南大學
                        </td>
                        <td width="100px">
                        2021年5月8日
                        </td>
                        <td>
                        <a href="https://careernthu.conf.asia/news.aspx?lang=cht&pid=7151"target="_blank">詳細資訊</a>
                        </td>
                    </tr>
                </table>
                <h3>南部</h3>
                <table class="t">
                    <tr>
                        <th>學校</th>
                        <th>舉辦日期</th>
                        <th>網址</th>
                    </tr>
                    <tr>
                        <td width="100px">
                        中興大學
                        </td>
                        <td width="150px">
                        2021年5月15日
                        </td>
                        <td>
                        <a href="https://career.ntu.edu.tw/student/vision/2021" target="_blank">詳細資訊</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="100px">
                        台中科技大學
                        </td>
                        <td width="150px">
                        2021年5月22日
                        </td>
                        <td>
                        <a href="https://openhouse.nctu.edu.tw/"target="_blank">詳細資訊</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="100px">
                        彰化師範大學
                        </td>
                        <td width="100px">
                        2021年5月8日
                        </td>
                        <td>
                        <a href="https://careernthu.conf.asia/news.aspx?lang=cht&pid=7151"target="_blank">詳細資訊</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="100px">
                        暨南大學
                        </td>
                        <td width="100px">
                        2021年5月8日
                        </td>
                        <td>
                        <a href="https://careernthu.conf.asia/news.aspx?lang=cht&pid=7151"target="_blank">詳細資訊</a>
                        </td>
                    </tr>
                </table>
                <h3>東部</h3>
                <table class="t">
                    <tr>
                        <th>學校</th>
                        <th>舉辦日期</th>
                        <th>網址</th>
                    </tr>
                    <tr>
                        <td width="100px">
                        中興大學
                        </td>
                        <td width="150px">
                        2021年5月15日
                        </td>
                        <td>
                        <a href="https://career.ntu.edu.tw/student/vision/2021" target="_blank">詳細資訊</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="100px">
                        台中科技大學
                        </td>
                        <td width="150px">
                        2021年5月22日
                        </td>
                        <td>
                        <a href="https://openhouse.nctu.edu.tw/"target="_blank">詳細資訊</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="100px">
                        彰化師範大學
                        </td>
                        <td width="100px">
                        2021年5月8日
                        </td>
                        <td>
                        <a href="https://careernthu.conf.asia/news.aspx?lang=cht&pid=7151"target="_blank">詳細資訊</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="100px">
                        暨南大學
                        </td>
                        <td width="100px">
                        2021年5月8日
                        </td>
                        <td>
                        <a href="https://careernthu.conf.asia/news.aspx?lang=cht&pid=7151"target="_blank">詳細資訊</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>© 2021 NCTU_IED</p>
    </div>
    
</body>
</html>