<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="my_css.css">
    <style>
        h3{
            margin-top:20px;
        }
        .t {
            border: 1px solid #333;
            margin:10px 0px 10px 0px;
        }
        .t th{
            border: 1px solid #333; 
        }
        .t td{
            border: 1px solid #333;
            //text-align:left;
            
        }
        .content1 li{
            padding:5px 0px 5px 0px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>大學生適性化學習系統</h1>
    </div>
    <div class="nav">
        <ul class="flex-nav">
            <li><a href="index.html">首頁</a></li>
            <li><a href="student.html">推薦課程</a></li>
            <li><a href="#">就業相關</a>
            <ul>
                <li><a href="job_col.html">職業探索</a></li>
                <li><a href="job_interview.html">面試須知</a></li>
                <li><a href="job_other.html">其他資訊</a></li>
            </ul>
            </li>
            <li><a href="#">升學相關</a>
            <ul>
                <li><a href="graduate.html">學術探索</a></li>
                <li><a href="graduate_channel.html">升學管道</a></li>
            </ul>
            </li>
            <li><a href="advisory.html">職涯諮詢</a></li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="item">
            <ul class="list">
                <li><a href="job_interview.html">面試前</a></li>
                <li><a href="job_interview2.html">面試中</a></li>
                <li><a href="job_interview3.html">面試後</a></li>
            </ul>
        </div>
        <div class="items">
            <div class="con">        
                <h2>面試須知-面試中</h2>
                <h3>面談時要注意避免扣分的行為舉止 </h3>
                <ol class="content1">
                    <li>不可貿然入座，須等對方邀請才坐下，較為得體。</li>
                    <li>避免表現出過多的肢體動作。 </li>
                    <li>不用艱澀難懂的專業用語或外語。 </li>
                    <li>勿答非所問或無言以對。</li>
                    <li>忘記隨身攜帶面試工具。</li>
                    <li>切勿過度彰顯自我，趾高氣揚。 </li>
                    <li>讓主考官控制主題和節奏，不要因急著表現而搶話或插話。</li>
                    <li>最忌遲到（若無法準時，記得打電話告知對方原因及會晚多久到），更不要隨便無故缺席。</li>
                    <li>不要一付無所謂的樣子，讓公司覺您並不想要得到這份工作。</li>
                    <li>千萬不要獅子大開口的要求薪資，嚇跑主考官。</li>
                    <li>不可穿著隨便或誇張暴露。 </li>
                </ol>
                <hr>
                <h3>面試時有加分作用的行為舉止 </h3>
                <ol class="content1">
                    <li>面談時認真地聆聽對方說話，眼光注視對方。 </li>
                    <li>言語表達充滿自信與對工作的興趣，意見表達清楚。</li>
                    <li>回答問題時針對問題，且能從容不迫地誠懇據實回應。 </li>
                    <li>．對於不了解的事情或答不出的問題須坦白承認，並虛心請教，不逞強。</li>
                    <li>對於聽不清楚的訊息主動、客氣的請主考官再說一下，以表示自己的專心。</li>
                    <li>針對應徵工作的內容適時發問，讓企業感受到求職者的積極心。</li>
                    <li>詢問主考官對你的建議，以便日後改進。 </li>
                </ol>
                <hr>
                <h3>應對技巧</h3>
                <ol class="content1">
                    <li>面試時如講錯內容會影響主考官的評分，則必須即時作出更
正，重申自己認為正確的答案。 如「不好意思，我剛所講的意思
應該是．．．」 </li>
                    <li>不要打斷主考官說話。 </li>
                    <li>主考官可能會問一些與申請職位完全無關的問題，以便進一步
了解您的思考能力與見識，不要表現出不耐煩或驚訝的表情，以免
給人太計較的印象。</li>
                    <li>遇惡劣天氣、交通阻塞、身體不適、面試官失約或面試安排錯
誤等突發狀況時，切記應變的原則：事先準備資源清單以備不時之
需，最好帶備用手機或電池，柲要時聯絡該公司。 </li>
                </ol>
                <hr>
                <h3>應對技巧</h3>
                <ol class="content1">
                    <li>掌握第一印象。言談舉止要有禮貌，姿態穩重又大方。</li>
                    <li>提問預想。預先設想考古題或主考官可能發問的問題事先演練，臨場時放鬆心情抓緊回答的主架構，並且重視主考官依據你的回答而接續發問的問題，做簡潔扼要的回答。 </li>
                    <li>態度誠懇，不宜過分客套和謙卑。當不太明白主試者的問題時，應禮貌地請他重複一次問題。陳述自己的長處時，要誠實而不誇張，視申請職位的要求，充份表現自己有關的能力和才能。 </li>
                    <li>不懂得回答的問題，不妨坦白承認，隨意回答被主試者揭穿時反而會弄巧成拙。</li>
                    <li>有條理的應答。可適當運用術語，以表示自己對該行業有興趣或是有一定的認識及經驗。但應記得適可而止，否則會給人過於刻意的感覺。 </li>
                    <li>要加以闡述論點，不要只回答「是」、「不是」'「有」、「沒有」等，給人被動及不可靠的感覺。 </li>
                    <li>最好將重點逐一陳述清楚，多引用實質例證支持，增加您與公司職缺的關聯性。不脫離主題，也不妄加斷論與批評。</li>
                    <li>語調要肯定，正面以表現信心。盡量避免中英文夾雜。 </li>
                    <li>少用助語助詞如「啦」、「囉」、「呢」之類語詞。以免給主考官一種用語不清、不認真及缺乏自信的感覺。 </li>
                    <li>注意非語言因素、聲音可略微低沈，語速要適當放慢，可以有適當的手勢，但不要過多。</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>© 2021 NCTU_IED</p>
    </div>
    
</body>
</html>