{% extends "學術導向/guide.html" %}
{% block head %}
    <style>
        table{
            margin-bottom:20px;
        }
        .t {
            border: 1px solid #333;
            //margin:20px 40px 20px 40px;
        }
        .t td{
            border: 1px solid #333;
            text-align:left;
        }
    </style>
{% endblock %}

{% block main %}
                <h2>博士班入學管道介紹</h2>
                <br>

                <p>交通大學碩士班入學管道有二種，分別是甄試入學、考試入學，以下分別說明</p>
                <h3>推甄入學</h3>
                <p>簡介</p>
                <p>甄試入學以資料審查為主，主要評分方式是參考考生在校成績排名以及書面審查以及口試，需附上大學以及碩士班歷年成績單與名次證明，需要有推薦函、讀書計畫、或是其他有利審查加分資料等部分校系書審資料通過後會有口試及筆試測驗。</p>
                <p>時程</p>
                <p>大約於每年9~10月報名各校陸續公告招考簡章以及報名，於10~12月書審資料繳交及複試，於11~隔年1月錄取放榜。</p>
                <br>
                <h3>考試入學</h3>
                <p>簡介</p>
                <p>博士班考試入學以資料審查為主，部分系所初試採用筆試，初試需附上大學以及碩士班歷年成績單與名次證明，需要有推薦函、讀書計畫、或是其他有利審查加分資料等，複試以口試為主。
                <p>時程</p>
                <p>大約於每年4月初報名各校陸續公告招考簡章以及進行報名作業，於4月中~5月初進行博士班初試以及複試，並於5月中錄取放榜。</p>
                <br>
                <h3>報告資格</h3>
                <p>國內經教育部立案之各公私立大學校院或符合教育部採認規定之境外大學校院畢業，獲得碩士學位或碩士班應屆畢業生，或具有報考大學博士班同等學力資格者，得以報考一般生。</p>
                <br>
                <h3>招生簡章</h3>
                <a href="https://exam.nycu.edu.tw/action.aspx?id=7f6cfca5-48dd-4c9a-8874-751c2c2be54a">博士班甄試入學</a><br>
                <a href="https://exam.nctu.edu.tw/action.aspx?id=a6cedb93-5fc2-45be-9ed3-96230a4968d0">博士班考試入學</a><br>
                <br>
                <p>詳細資訊請查看<a href="https://exam.nctu.edu.tw/action.aspx?id=a6cedb93-5fc2-45be-9ed3-96230a4968d0">交通大學招生訊息</a></p>
{% endblock %}