{% extends "學術導向/guide.html" %}
{% block head %}
    <style>
        h3{
            margin-top:20px;
        }
        .t {
            border: 1px solid #333;
            margin:10px 0px 10px 0px;
        }
        .t th{
            border: 1px solid #333; 
        }
        .t td{
            border: 1px solid #333;
            //text-align:left;
            
        }
        .con{
            //display:flex;
            //flex-wrap:wrap;
        }
        .items{
            //height:900px;
        }
        .box{
            width:245px;
            height:245px;
            background-color:#ffffff;
            //margin:20px 20px 20px 20px;
            border:1px solid;
            border-color:#c0c0c0;
        }
        .bbox{
            margin:20px 10px 20px 10px;
            
        }
        .bbox a{
            color:#000000;
            text-decoration: none;  /* 移除超連結底線 */
            text-align:center;
        }
        .boxtext{
            padding-top:115px;
        }
        .thide{
            display:none;
        }
        .mouse{
            cursor: pointer;
        }
        ul {margin-left: 0; padding-left: 20px;}
    </style>
{% endblock %}

{% block main %}
                <h2>電機相關領域</h2>
                <h3>領域介紹</h3>
                <p>學習有關電子設備、機器及系統的規劃、設計、發展、維護及監督的，包含與通訊有關的電腦及設備的設計。相關課程及資格包含：廣播電子、通訊系統、通訊設備安裝、通訊設備維護 、電腦工程等。</p>
                <h3>研究方向</h3>
                <ul>
                    <li>奈米電子與積體電路
                        <ul>
                            <li>奈米電子</li>
                            <li>量子與奈米光電元件</li>
                            <li>VLSI及系統晶片</li>
                            <li>積體電路設計電子設計自動化</li>
                        </ul></li>
                    <li>智慧系統/生醫
                        <ul>
                            <li>生醫電子</li>
                            <li>生醫光電</li>
                            <li>感測元件與系統</li>
                            <li>智慧型機器人</li>
                            <li>智慧型系統</li>
                            <li>綠能科技</li>
                        </ul>
                    </li>
                    <li>通訊
                        <ul>
                            <li>通訊系統</li>
                            <li>微波電路與天線</li>
                            <li>多媒體訊號處理</li>
                            <li>網路與雲端系統</li>
                        </ul>
                    </li>
                    <li>光電與顯示
                        <ul>
                            <li>光電系統</li>
                            <li>光纖通訊</li>
                            <li>光電顯示</li>
                            <li>奈米/能源光電</li>
                            <li>跨領域光電科學</li>
                        </ul>
                    </li>
                </ul>
{% endblock %}