{% extends "就業導向/guide.html" %}
{% block head %}
    <style>
        h3{
            margin-top:20px;
        }
        .t {
            border: 1px solid #333;
            margin:10px 0px 10px 0px;
        }
        .t th{
            border: 1px solid #333; 
        }
        .t td{
            border: 1px solid #333;
            //text-align:left;
            
        }
        .content1 li{
            padding:5px 0px 5px 0px;
        }
        ul {margin-left: 0; padding-left: 20px;}
        ol {margin-left: 0; padding-left: 20px;}
        .list ul{
            list-style: none;
        }
        
        .li_hide{
            display:none;
        }
        .mouse{
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block main %}
                <h2>面試須知-面試後</h2>
                <h3>感謝函</h3>
                <ul class="content1">
                    <li>面試後的24小時內發出感謝信，表達自己的感謝與進入公司的熱忱以及企圖心。不僅僅是禮貌的舉動，也能夠加深招聘人員對面試者的印象。</li>
                </ul>
                <hr>
                <h3>禮貌地查詢結果</h3>
                <ul class="content1">
                    <li>面試結束後，招聘人員需要三到五天的討論時間確定錄用選，這段時間應試者須耐心的等待面試結果，並掌握好詢問面試結果時間時間。</li>
                </ul>
                <hr>
                <h3>調整心態、放眼未來</h3>
                <ul class="content1">
                    <li>由於競爭激烈，以及一些不可知的因素，面試結果有許多的不確定性，故每位應試者對於面試結果都應該有要充分的思想準備，應相信未來會更美好的，並保持著不懈怠的積極態度，面試後規劃此職務的未來方展以及嘗試接觸其他多元的選擇是調整心態的重要關鍵。</li>
                </ul>
{% endblock %}