{% extends "就業導向/guide.html" %}
{% block head %}
    <style>
        h3{
            margin-top:20px;
        }
        .t {
            border: 1px solid #333;
            margin:10px 0px 10px 0px;
        }
        .t th{
            border: 1px solid #333; 
        }
        .t td{
            border: 1px solid #333;
            //text-align:left;
            
        }
        .content1 li{
            padding:5px 0px 5px 0px;
        }
        ul {margin-left: 0; padding-left: 20px;}
        ol {margin-left: 0; padding-left: 20px;}
        .list ul{
            list-style: none;
        }
        
        .li_hide{
            display:none;
        }
        .mouse{
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block main %}
                <h2>面試須知-面試中</h2>
                <h3>自我介紹</h3>
                <ol class="content1">
                    <li>應試者以簡短且口語化的語言描述自己過去的背景、專業，並突顯自己的優點，讓主考官在有限的時間充分的了解應試者。</li>
                </ol>
                <hr>
                <h3>面談時要注意避免扣分的行為舉止 </h3>
                <ol class="content1">
                    <li>不可貿然入座，須等對方邀請才坐下，較為得體。</li>
                    <li>避免表現出過多的肢體動作。</li>
                    <li>避免使用較艱深難懂的用語回答問題。</li>
                    <li>勿答非所問、迴避問題或無言以對。</li>
                    <li>切勿過度彰顯自我，趾高氣揚。 </li>
                    <li>避免急著表現而搶話或插話，並讓主考官控制主題以及節奏。</li>
                    <li>勿表現對於這份工作無所謂的態度。</li>
                    <li>勿要求價碼過高的薪資，嚇跑主考官。</li>
                </ol>
                <hr>
                <h3>面試時有加分作用的行為舉止 </h3>
                <ol class="content1">
                    <li>面談時眼光注視對方且認真地聆聽對方說話。</li>
                    <li>表達自信以及對工作的興趣。</li>
                    <li>對於問題從容不迫地誠懇據實回應。</li>
                    <li>對於不了解的事情以及回答不出的問題，虛心請教。</li>
                    <li>針對應徵工作的內容適時發問，讓企業感受到求職者的積極心。</li>
                    <li>為日後改進，詢問面試人員對你的建議。</li>
                </ol>
                <hr>
                
{% endblock %}