{% extends "他校進修導向/guide.html" %}

{% block main %}
                <h2>國外研究所入學</h2>
                <br>
                <p>除了在國內就讀碩博班，出國念書也成為人們的另一個選擇，出國升學不僅獲得的是一只鍍金的文憑，更是一個體驗不同學習氛圍的機會，對於未來的生涯規劃是有幫助的，以下提供國外升學的要點須知。</p>
                <h3>各國平均修業年限</h3>
                <ul class="content1">
                    <li>英國：1年</li>
                    <li>美國：2年</li>
                    <li>澳洲：1.5 ～ 2年</li>
                    <li>紐西蘭：1.5～ 2年</li>
                </ul>
                <hr>
                <h3>申請研究所所需文件</h3>
                <ul class="content1">
                    <li>TOEFL / IELTS 成績</li>
                    <p>托福是由美國教育測驗服務社舉辦的英語能力測驗。大多數的美國大專院校都會要求外籍生在申請入學時檢附一定標準的托福考試成績。</p>
                    <br>
                    <p>雅思是著名的國際性英語標準化水準測試之一。雅思成績被英國、愛爾蘭以及澳洲、加拿大、紐西蘭、南非等大英國協成員及越來越多的美國的教育機構和各種各樣的專業組織接受。成績有效期限為兩年。</p>
                    <br>
                    <li>GRE / GMAT 成績</li>
                    <p>GRE，中文譯作美國研究生入學考試／資格考試，是由私立的美國教育考試服務中心主辦的標準化考試，用來測驗大學畢業生的知識技能掌握情況。在很多英語國家特別是美國，GRE成績被作為研究生錄取的標準之一。如今在歐洲，亞太地區也有越來越多的大學，如德國，香港，新加坡的大學，把GRE作為英語授課課程錄取標準之一。</p>
                    <br>
                    <p>GMAT中文譯研究生管理科入學考試，是一項專門用於測試商學院申請學生能力的標準化考試，重點在於測試應試者在一般商務環境中的理解，分析和表達能力。原本是針對美國各商學院入學的審核而制訂的測驗，但今日包括歐洲與亞太地區在內超過83個國家、1500所商學院、5,400種專業都要求申請人提供有效的GMAT成績，特別是對於MBA、金融碩士、會計碩士等學位的申請人。</p>
                    <br>
                    <li>CV</li>
                    <p>CV是有助於申請上理想學校的重要文件，履歷內容包含教育背景、校內外活動經驗、工作經歷、得獎記錄，專業技能這幾大項。</p>
                    <br>
                    <li>SOP （Statement of Purpose) 申請動機</li>
                    <p>SOP （Statement of Purpose) 申請動機為大學入學考試過程中的常見部分，其描述申請學生過去的背景、成就以及未來的規劃與目標，通常也包含了申請學生為何選擇申請學校的原因。</p>
                    <br>
                    <li>大學成績單 GPA</li>
                    <p>成績平均績點，是大多數大學及高等教育院校所採用的一種評估學生成績的制度。計算方法為把學科所得到的評級，換算成為一個績點，再按照各學科所佔學分比例加權所得的數字。</p>
                    <br>
                    <li>教授 / 主管推薦信</li>
                    <p>通常需要準備2～3封自己科系教授的推薦信，而如果有在實習，或就職中，也可以請公司主管寫推薦信，所以建議大家不管在學校或在職場上都必須盡自己的能力，強力的推薦信也是錄取的關鍵。</p>
                </ul>
                <br>
                <p>若是對於國外升學有興趣可以到<a href="https://www.topuniversities.com/university-finder/student/match/user-score.html">TOPUNUVERSITIES</a>能夠為您推薦適合您的國外大學以及該大學的入取標準</p>
{% endblock %}
