{% extends "他校進修導向/guide.html" %}
{% block head %}
    <style>
        
        .t {
            border: 1px solid #333;
            width:800px;
            margin-top:20px;
        }
        .t th{
            border: 1px solid #333; 
        }
        .t td{
            border: 1px solid #333;
            text-align:center;
            height:50px;
            
        }
        .ta{
            margin:30px 0px 30px 0px;
        }
        ul {margin-left: 0; padding-left: 20px;}
        .enter input[type=button]{
            background-color: #353866;
            border: none;
            color: white;
            padding: 10px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }
        .list ul{
            list-style: none;
            //display:none;
            //position:absolute;
        }
        .li_hide{
            display:none;
        }
        .mouse{
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">
        function li_click() {
            //alert("hello")
            var li = document.getElementById("li_hide");
            li.classList.toggle("li_hide");
            /*
            if (li.style.display=="none") {
                li.style.display="block"
            } else {
                li.style.display="none"
            }*/
        }
    </script>
{% endblock %}

{% block main %}
                <h2>國內研究所入學管道介紹</h2>
                <br>

                <p>國內研究所入學管道有三種，分別是甄試入學、考試入學、台聯大系統入學，以下分別說明</p>
                <h3>推甄入學</h3>
                <p>推甄入學大約會在11月左右，推甄入學會參考考生在校成績排名，主要評分方式是書面審查以及口試，需要有推薦函、讀書計畫、或是其他有利審查加分資料等。</p>
                <br>
                <h3>考試入學</h3>
                <p>考試入學則是以筆試作為成績計算，也同樣需要口試測驗。與推甄最大差異是書面審查給以筆試測驗替代，考試入學不需要準備數面審查資料以及在校成績。</p>
                <br>
                <h3>台灣聯合大學系統</h3>
                <p>台灣聯合大學系統為中央大學、交通大學、清華大學、陽明大學部分化學類、物理類、電機類、認知神經類校系所聯合招生，考生只要報名一次、考試一次集合選擇多個校系為就讀志願。</p>
                <br>
                <h3>報告資格</h3>
                <p>國內經教育部立案之各公私立大學校院或符合教育部採認規定之境外大學校院畢業，獲得學士學位或學士班應屆畢業生，或具有報考大學碩士班同等學力資格者，得以報考一般生。各系所對於報考條件另有限制者，從其規定。非大學畢業生或非大學應屆畢業生等無學士學位者不得報考，若應屆畢業生於入學時無法畢業亦不得以同等學力入學。</p>
                <br>
                <h3>招生簡章</h3>
                以下為交通大學研究所招生簡章<br>    
                <a href="https://exam.nctu.edu.tw/action.aspx?id=a6cedb93-5fc2-45be-9ed3-96230a4968d0">甄試入學</a><br>
                <a href="https://exam.nctu.edu.tw/action.aspx?id=a6cedb93-5fc2-45be-9ed3-96230a4968d0">考試入學</a><br>
                <a href="https://exam.nctu.edu.tw/action.aspx?id=a6cedb93-5fc2-45be-9ed3-96230a4968d0">台聯大系統入學</a><br>
                <br>
                <p>詳細資訊請查看<a href="https://exam.nctu.edu.tw/action.aspx?id=a6cedb93-5fc2-45be-9ed3-96230a4968d0">交通大學招生訊息</a></p>
{% endblock %}