<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="my_css.css">
    <style>
        table{
            margin-bottom:20px;
        }
        .t {
            border: 1px solid #333;
            //margin:20px 40px 20px 40px;
        }
        .t td{
            border: 1px solid #333;
            text-align:left;
        }
        .con{
            height:700px;
        }
        .content1 li{
            padding:5px 0px 5px 0px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>大學生適性化學習系統</h1>
    </div>
    <div class="nav">
        <ul class="flex-nav">
            <li><a href="index.html">首頁</a></li>
            <li><a href="student.html">推薦課程</a></li>
            <li><a href="#">就業相關</a>
            <ul>
                <li><a href="job_col.html">職業探索</a></li>
                <li><a href="job_interview.html">面試須知</a></li>
                <li><a href="job_other.html">其他資訊</a></li>
            </ul>
            </li>
            <li><a href="#">升學相關</a>
            <ul>
                <li><a href="graduate.html">學術探索</a></li>
                <li><a href="graduate_channel.html">升學管道</a></li>
            </ul>
            </li>
            <li><a href="advisory.html">職涯諮詢</a></li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="item">
            <ul class="list">
                <li><a href="graduate_channel.html">碩士班升學管道</a></li>
                <li><a href="graduate_channel2.html">博士班升學管道</a></li>
                <li><a href="graduate_channel3.html">國外升學</a></li>
            </ul>
        </div>
        <div class="items">
            <div class="con">     
                <h2>國外升學</h2>
                <br>
                <p>除了在國內就讀碩博班，出國念書也成為人們的另一個選擇，出國升學不僅獲得的是一只鍍金的文憑，更是一個體驗不同學習氛圍的機會，對於未來的生涯規劃是有幫助的，以下提供國外升學的要點須知。</p>
                <h3>各國平均修業年限</h3>
                <ul class="content1">
                    <li>英國：1年</li>
                    <li>美國：2年</li>
                    <li>澳洲：1.5 ～ 2年</li>
                    <li>紐西蘭：1.5～ 2年</li>
                </ul>
                <hr>
                <h3>申請研究所所需文件</h3>
                <ul class="content1">
                    <li>TOEFL / IELTS 成績</li>
                    <li>GRE / GMAT 成績</li>
                    <li>Resume / CV 履歷</li>
                    <li>SOP （Statement of Purpose) 申請動機</li>
                    <li>大學成績單 GPA</li>
                    <li>教授 / 主管推薦信</li>
                </ul>
                <hr>
                <h3>其他資訊</h3>
                <p>若是對於國外升學有興趣可以到<a href="https://www.topuniversities.com/university-finder/student/match/user-score.html">TOPUNUVERSITIES</a>能夠為您推薦適合您的國外大學</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>© 2021 NCTU_IED</p>
    </div>
    
</body>
</html>