<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="my_css.css">
    <style>
        h3{
            margin-top:20px;
        }
        .t {
            border: 1px solid #333;
            margin:10px 0px 10px 0px;
        }
        .t th{
            border: 1px solid #333; 
        }
        .t td{
            border: 1px solid #333;
            //text-align:left;
            
        }
        .content1 li{
            padding:5px 0px 5px 0px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>大學生適性化學習系統</h1>
    </div>
    <div class="nav">
        <ul class="flex-nav">
            <li><a href="index.html">首頁</a></li>
            <li><a href="student.html">推薦課程</a></li>
            <li><a href="#">就業相關</a>
            <ul>
                <li><a href="job_col.html">職業探索</a></li>
                <li><a href="job_interview.html">面試須知</a></li>
                <li><a href="job_other.html">其他資訊</a></li>
            </ul>
            </li>
            <li><a href="#">升學相關</a>
            <ul>
                <li><a href="graduate.html">學術探索</a></li>
                <li><a href="graduate_channel.html">升學管道</a></li>
            </ul>
            </li>
            <li><a href="advisory.html">職涯諮詢</a></li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="item">
            <ul class="list">
                <li><a href="job_interview.html">面試前</a></li>
                <li><a href="job_interview2.html">面試中</a></li>
                <li><a href="job_interview3.html">面試後</a></li>
            </ul>
        </div>
        <div class="items">
            <div class="con">        
                <h2>面試須知-面試後</h2>
                <h3>感謝函</h3>
                <ul class="content1">
                    <li>可在面試後寄封感謝函公司或主考官，表達自己的感謝與強烈想進入
公司服務的熱忱，以展現自己的企圖心。</li>
                </ul>
                <hr>
                <h3>放眼未來</h3>
                <ul class="content1">
                    <li>論面試結果如何，都該相信未來會更美好，然而不懈怠的積極態度
是必須的基礎，所以面試後著手規劃此職務的未來發展與同時接觸其
他職務以多元選擇，都是調整心態與情緒的重要關鍵。</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>© 2021 NCTU_IED</p>
    </div>
    
</body>
</html>