{% extends "student.html" %}
{% block head %}
    <style>
        .enter{
            margin-top:60px;
            text-align:center;
        }
        .enter{
            margin-top:60px;
            text-align:center;
        }
        .enter a{
            padding:10px 30px;
            background-color:#353866;
            color:#fff;
            text-decoration: none;  /* 移除超連結底線 */
        }
        .hide{
            display:none;
        }
    </style>
    <script type="text/javascript">
        function other_click(src) {
            var hide=document.getElementById("hide1");
            hide.style.display="block";
            if (src.value =="其他") {
                hide.style.display="block";}
            else{
                hide.style.display="none";
            
            }
        }
    </script>
{% endblock %}
{% block main %} 
                <h2>閱讀媒體3</h2>
                <p>請閱讀下列新聞媒體片段，並在閱讀完後回答問題</p>
                <br>
                <h3>yes123調查：疫情衝擊新鮮人 升學進修比例增</h3>
                <p>〔記者李雅雯／台北報導〕yes123求職網昨日發布「新鮮人職涯規劃與求職恐慌調查」，調查結果顯示，大專院校畢業生選擇繼續升學、進修比率近兩年明顯高於疫情發生前，推估因為疫情關係，選擇延畢或轉考公職人數增加。

該份調查指出，今年大專院校畢業生和退伍役男中，有87.3%傾向先找工作，12.7%將繼續升學、進修；去年同樣調查顯示，15.9%將繼續升學、進修。這相較前（2019）年調查時僅2%，皆明顯大增，推估該現象和疫情有關。

傾向先就業的受訪者中，62.7%已經開始找工作，其中僅近2成獲得企業錄取；6成8認為未獲錄取與疫情衝擊有關。有學士學歷的職場新鮮人期待平均月薪起薪為3萬866元、研究所畢業者則為3萬3106元。

延畢或考公職人數料增
yes123求職網發言人楊宗斌表示，畢業生選擇先就業，反映出學歷貶值和文憑主義式微的職場趨勢。由於今年遇到疫情爆發，求職者觀望氣氛濃厚，推估想延畢或轉考公職的人將因此增加。

楊宗斌建議，新鮮人求職要有高度危機感，可提早在畢業前投遞履歷、嘗試應徵。疫情大環境對於去年、今年畢業生求職來說，確實較為不利，尤其內需產業受疫情衝擊大，企業招募動作恐趨於保守。

「新鮮人職涯規劃與求職恐慌調查」由yes123求職網在今年5月13日到28日期間以網路問卷進行，調查對象為「今年畢業或退伍」的會員（有學士以上學歷、役畢或免役者），有效問卷共1239份（非研究所者920份、研究所者319份），信心水準95%、誤差值正負2.78%。</p>
                <br>
                <hr>
                <br>
                <h3>有碩士學歷在軟體業薪水會增嗎？ 過來人曝真相：能力是其次</h3>
                <p>不少人大學畢業後會考慮繼續升學，不外乎就是希望未來能獲得好的薪資收入及工作環境。日前就有一名網友在《 Dcard 》中PO文提到，自己從國立後段大學學士畢業，目前工作是一名軟體工程師，一個月的薪水大概40K，最近剛好有朋友問他「要不要考研究所洗學歷」，於是他就好奇詢問廣大網友「碩士學歷對薪水影響大嗎？」

原PO在文中表示，目前作為一名軟體工程師已經一年了，工作還算輕鬆但月薪大概就40K，剛好有朋友問考研究所洗學歷的事情，他想了很久後認為可以試試看，因此就問道「如果能考上台清交資工所，有了碩士的學歷在這一行會讓薪水上升很多嗎？在能力或是技能上，跟學士畢業的會有什麼差別嗎？」

PO文一出後，隨即引來大批網友留言，紛紛留言回應，「薪水一定會上升」、「薪水一定有感吧，但能力跟個人造化關係比較大」、「初期公司的入場門檻蠻重要的，後期就是看碩士期間的技能」、「一個月如果多個5000乘上年終幾個月，再乘分紅，其實年薪就差很多」、「資工碩士跟學士至少差1萬」、「電資碩CP值高，就算非四大、四中二科碩，薪水還是有感的差別」、「博士薪水再高」。

也有不少過來人分享，「之前去面試就覺得，台灣人先看學歷，有沒有能力是其次」、「一線IC現在起薪就快80K，你現在的兩倍」、「軟體業學士出去不容易高薪的，相信我」、「以台灣的薪資結構來講，應該比較高的都是一線IC或是半導體工廠，那基於你是不是曾經參加過比賽，或實習直接拿到offer之類的，碩士學歷其實就是最基本的面試門檻」。</p>
                <br>
                <hr>
                <br>
                <h3>留學生沒出國也行！教部因疫情放寬國外學歷採認標準</h3>
                <p>新冠肺炎持續，教育部最近核釋「大學辦理國外學歷採認辦法」，109學年起台生若錄取國外學校，但所讀學校因疫情禁止入境或入校，以至於從開學到畢業都沒出國，取得學歷也能經我國政府認證，最快今年8月就會有第一批沒出國讀書的留學生。在此之前，教育部規定留學生一定要出國，學士至少滿32個月，碩士至少滿8個月，學歷才能在國內獲得採認。

教育部高教司表示，新冠肺炎持續，109學年起，我國學生若在疫情期間獲得國外大學入學許可，但因當地國家防疫限制入境，或就讀學校因防疫改採遠距教學，國內單位應將這些防疫措施納入採認學歷的綜合評斷標準之一，其他採認項目包括所讀學校的學制、行事曆等資料。

中華民國留學服務商業同業公會理事長張忠豪表示，疫情期間各國開放入境情況不一，如澳洲、紐西蘭限制入境；英國無限制，「勇敢一點還是可去」；美國由各校自治，部分學校不開放留學生入校。教育部這項新制嘉惠留學生，將來要投入我國軍公教單位的留學生尤其受惠，他們的國外學歷必須取得國內認證，才能投入公職與教職。

但張忠豪說，若留學生申請上的學校並無限制入境，仍不適用這項學歷採認辦法，留學生還是得出國來確保學歷價值。台灣學生也不習慣線上上課，認為參與遠距分組討論、報告很麻煩，能出國還是會出國。

一名正在英國留學的林姓學生說，英國疫情嚴峻，身邊台灣留學生九月才到英國，有面對疫情的心理準備。不打算在台留學，主因是遠距學習問題更多，如在台會遇上時差，不利上課，也很難和老師討論報告和論文。

張忠豪建議關注各國疫苗施打情況，若能在台灣施打，出國後安全許多；也有國家走得更快，如加拿大今天宣布，境內人士9月全部都可免費施打疫苗，若台生前往能同時打疫苗和留學，一舉兩得。

一名熟悉留學政策人士指出，原本「大學辦理國外學歷採認辦法」限定留學生一定要出國，回國申請認證學歷時要附護照戳章證明。此制是為防堵部分國外大學在台設分校，讓台灣在職人士留在國內進修，頂多在國外待一兩個月就能取得國外學歷，排擠國內教育單位招收學生。教育部這次因疫情放寬學歷採認標準，恐難防有心人士操作。

教育部高教司科長賴冠瑋強調，核釋只適用受疫情影響學生，須佐證此類證明，所獲學歷才能被我國採認。</p>
                <br>
                <hr>           
                <form method="post" action={{ url_for('news3') }}>
                <!--
                    閱讀完上述的新聞片段你對於未來畢業後的職涯選擇是<br>
                    <select id="col" name="news_career_3" onchange="other_click(this)">
                        <option value="就業">就業</option>
                        <option value="進修交大碩士班並有意願朝博士班發展">進修交大碩士班並有意願朝博士班發展</option>
                        <option value="進修交大碩士班">進修交大碩士班</option>
                    　  <option value="進修其他學校研究所">進修其他學校研究所</option>
                        <option value="其他">其他</option>
                    </select>-->
                    <p>閱讀完上述的新聞片段你對於未來畢業後的職涯選擇是：</p>
                     <input type="radio" name="news_career_3" value="就業" onchange="other_click(this)">就業<br>   
                     <input type="radio" name="news_career_3" value="進修交大碩士班並有意願朝博士班發展" onchange="other_click(this)">進修交大碩士班並有意願朝博士班發展<br>
                     <input type="radio" name="news_career_3" value="進修交大碩士班" onchange="other_click(this)">進修交大碩士班<br>
                    <input type="radio" name="news_career_3" value="進修其他學校研究所" onchange="other_click(this)">進修其他學校研究所<br>
                    <input type="radio" name="news_career_3" value="其他" onchange="other_click(this)">其他
                    <br><br>
                    <div class="hide" id="hide1">
                        <p>若上述結果都不符合的話，您畢業後的職涯選擇是?</p>
                        <textarea cols="50" rows="8" name="news_other_3"></textarea>
                    </div>
                    <div class="enter">
                        <input type = "submit">
                    </div>  
                </form>
{% endblock %}
