<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript">
        
    </script>
</head> 
<body>
    <form method="post" action={{ url_for('t3') }}>
        <input type="text" name="strategy_name" value="0">
		<input type="text" name="strategy_n" value="0">
        <input type = "submit">
    </form>
	{{data}}
	{{data1}}
    <script type="text/javascript">
        /*
        var test = '{{data}}';
        test="學術導向"
        alert(test);
        if (test=="就業導向"){
            var obj=document.getElementById("slct");
            obj.options.add(new Option("哈哈","2"));
        }
        else{
            var obj=document.getElementById("slct");
            obj.options.add(new Option("顆顆","2"));
        }*/
    </script>
</body>
</html>


















