<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="my_css.css">
    <style>
        h3{
            margin-top:20px;
        }
        .t {
            border: 1px solid #333;
            margin:10px 0px 10px 0px;
        }
        .t th{
            border: 1px solid #333; 
        }
        .t td{
            border: 1px solid #333;
            //text-align:left;
            
        }
        .content1 li{
            padding:5px 0px 5px 0px;
        }
        ul {margin-left: 0; padding-left: 20px;}
        ol {margin-left: 0; padding-left: 20px;}
    </style>
</head>
<body>
    <div class="header">
        <h1>大學生適性化學習系統</h1>
    </div>
    <div class="nav">
        <ul class="flex-nav">
            <li><a href="index.html">首頁</a></li>
            <li><a href="student.html">推薦課程</a></li>
            <li><a href="#">就業相關</a>
            <ul>
                <li><a href="job_col.html">職業探索</a></li>
                <li><a href="job_interview.html">面試須知</a></li>
                <li><a href="job_other.html">其他資訊</a></li>
            </ul>
            </li>
            <li><a href="#">升學相關</a>
            <ul>
                <li><a href="graduate.html">學術探索</a></li>
                <li><a href="graduate_channel.html">升學管道</a></li>
            </ul>
            </li>
            <li><a href="advisory.html">職涯諮詢</a></li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="item">
            <ul class="list">
                <li><a href="job_interview.html">探索結果說明</a></li>
                <li><a href="job_interview2.html">職業方向</a></li>
                <li><a href="job_interview3.html">面試須知</a></li>
                <li><a href="job_interview3.html">徵才網站</a></li>
                <li><a href="job_interview3.html">課程推薦</a></li>
            </ul>
        </div>
        <div class="items">
            <div class="con">        
                <h2>面試須知-面試前</h2>
                <h3>找出原招聘廣
告準備功課</h3>
                <ul class="content1">
                    <li>大多的求職者可能會投寄多封的履歷，除了寄出履歷外，要把該公司的
招聘廣告留存，便於在收到面試通知時重溫該企業的背景情況及應徵何
項工作及職位，以免面試時張冠李戴。</li>
                </ul>
                <hr>
                <h3>充足睡眠</h3>
                <ul class="content1">
                    <li>充足的睡眠，讓頭腦保持清晰，面試時才能從容應對各種狀況。 </li>
                </ul>
                <hr>
                <h3>備妥個人資料</h3>
                <ol class="content1">
                    <li>準備好個人履歷，證件，自傳，優秀作品及文具。</li>
                    <li>倘個人容易緊張造成身體不適，平時用藥請記得隨身攜帶。 </li>
                </ol>
                <hr>
                <h3>面試考題大蒐集 </h3>
                <ol class="content1">
                    <li>請先簡單自我介紹。</li>
                    <li>你為什麼想要應徵本公司。 
</li>
                    <li>談談你未來的生涯規劃。 </li>
                    <li>你過去在學業或事業上的成就。 
</li>
                    <li>你如何處理工作上的壓力？ 
</li>
                    <li>你對本公司及該產業有何了解？</li>
                    <li>你在工作上遇到問題時，會如何處理？</li>
                    <li>你覺得自己是能在團隊工作，又能獨立作業的嗎？ </li>
                    <li>你希望的待遇多少？</li>
                </ol>
                <hr>
                <h3>面試考題大蒐集 </h3>
                <ul class="content1">
                    <li>事先了解面試地點及交通狀況，提早出門避免塞車。不熟悉的路線請把
路線圖含公司名稱、地址、電話等資料帶在身上，以便詢問查找。 </li>
                </ul>
                <hr>
                <h3>面試考題大蒐集 </h3>
                <ol class="content1">
                    <li>服裝不要太花俏、誇張或暴露。</li>
                    <li>正式服裝為主，衣服顏色與樣式別亂搭配。 </li>
                    <li>注意個人儀容整潔。</li>
                    <li>避免幼稚或老氣的穿著，穿出專業。 </li>
                    <li>注意整潔大方，襯衫要洗乾淨，皮鞋要擦亮，不宜露腳趾，頭髮要
梳齊，鬍鬚要刮乾淨。 </li>
                    <li>女同學可化淡妝。</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>© 2021 NCTU_IED</p>
    </div>
    
</body>
</html>