<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="my_css.css">
    <style>
        
        .t {
            border: 1px solid #333;
            width:800px;
            margin-top:20px;
        }
        .t th{
            border: 1px solid #333; 
        }
        .t td{
            border: 1px solid #333;
            text-align:center;
            height:50px;
            
        }
        .ta{
            margin:30px 0px 30px 0px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>大學生適性化學習系統</h1>
    </div>
    <div class="nav">
        <ul class="flex-nav">
            <li><a href="index.html">首頁</a></li>
            <li><a href="student.html">推薦課程</a></li>
            <li><a href="#">就業相關</a>
            <ul>
                <li><a href="job_col.html">職業探索</a></li>
                <li><a href="job_interview.html">面試須知</a></li>
                <li><a href="job_other.html">其他資訊</a></li>
            </ul>
            </li>
            <li><a href="#">升學相關</a>
            <ul>
                <li><a href="graduate.html">學術探索</a></li>
                <li><a href="graduate_channel.html">升學管道</a></li>
            </ul>
            </li>
            <li><a href="advisory.html">職涯諮詢</a></li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="item">
            <ul class="list">
                <li><a href="job_interview.html">探索結果說明</a></li>
                <li><a href="job_interview2.html">職業方向</a></li>
                <li><a href="job_interview3.html">面試須知</a></li>
                <li><a href="job_interview3.html">徵才網站</a></li>
                <li><a href="job_interview3.html">課程推薦</a></li>
            </ul>
        </div>
        <div class="items">
            <div class="con">         
                <h2>課程推薦</h2>
                <p>依據您提供的基本資料，我們找到過去與您擁有相似經驗的學生，他們在過去修習以下課程。</p>
                <div class="ta">
                    <h3>電機工程學系課程</h3>
                    <table class="t">
                        <tr>
                            <th>當期課號</th>
                            <th>課程名稱</th>
                            <th>學分</th>
                            <th>時數</th>
                            <th>開課教師</th>
                            <th>選別</th>
                            <th>開課系所</th>
                        </tr>
                        <tr>
                            <td><a href="https://timetable.nycu.edu.tw/?r=main/crsoutline&Acy=109&Sem=1&CrsNo=1028&lang=zh-tw">1028</td><td>計算機概論與程式設計</td><td>3</td><td>3</td><td>劉建男</td><td>必修</td><td>電機工程學系</td>
                        </tr>
                        <tr>
                            <td><a href="https://timetable.nycu.edu.tw/?r=main/crsoutline&Acy=109&Sem=1&CrsNo=1028&lang=zh-tw">1028</td><td>計算機概論與程式設計</td><td>3</td><td>3</td><td>劉建男</td><td>必修</td><td>電機工程學系</td>
                        </tr>
                        <tr>
                            <td><a href="https://timetable.nycu.edu.tw/?r=main/crsoutline&Acy=109&Sem=1&CrsNo=1028&lang=zh-tw">1028</td><td>計算機概論與程式設計</td><td>3</td><td>3</td><td>劉建男</td><td>必修</td><td>電機工程學系</td>
                        </tr>
                        <tr>
                            <td><a href="https://timetable.nycu.edu.tw/?r=main/crsoutline&Acy=109&Sem=1&CrsNo=1028&lang=zh-tw">1028</td><td>計算機概論與程式設計</td><td>3</td><td>3</td><td>劉建男</td><td>必修</td><td>電機工程學系</td>
                        </tr>
                    </table>
                </div>
                <div class="ta">
                    <h3>電機工程學系以外課程</h3>
                    <table class="t">
                        <tr>
                            <th>當期課號</th>
                            <th>課程名稱</th>
                            <th>學分</th>
                            <th>時數</th>
                            <th>開課教師</th>
                            <th>選別</th>
                            <th>開課系所</th>
                        </tr>
                        <tr>
                            <td><a href="https://timetable.nycu.edu.tw/?r=main/crsoutline&Acy=109&Sem=1&CrsNo=1028&lang=zh-tw">1028</td><td>計算機概論與程式設計</td><td>3</td><td>3</td><td>劉建男</td><td>必修</td><td>電機工程學系</td>
                        </tr>
                        <tr>
                            <td><a href="https://timetable.nycu.edu.tw/?r=main/crsoutline&Acy=109&Sem=1&CrsNo=1028&lang=zh-tw">1028</td><td>計算機概論與程式設計</td><td>3</td><td>3</td><td>劉建男</td><td>必修</td><td>電機工程學系</td>
                        </tr>
                        <tr>
                            <td><a href="https://timetable.nycu.edu.tw/?r=main/crsoutline&Acy=109&Sem=1&CrsNo=1028&lang=zh-tw">1028</td><td>計算機概論與程式設計</td><td>3</td><td>3</td><td>劉建男</td><td>必修</td><td>電機工程學系</td>
                        </tr>
                        <tr>
                            <td><a href="https://timetable.nycu.edu.tw/?r=main/crsoutline&Acy=109&Sem=1&CrsNo=1028&lang=zh-tw">1028</td><td>計算機概論與程式設計</td><td>3</td><td>3</td><td>劉建男</td><td>必修</td><td>電機工程學系</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
            
    </div>
    <div class="footer">
        <p>© 2021 NCTU_IED</p>
    </div>
    
</body>
</html>